@font-face {
    font-family: 'old_standard_ttbold';
    src: url('../assets/fonts/old-standard/oldstandardtt-bold-webfont.woff2') format('woff2'),
        url('../assets/fonts/old-standard/oldstandardtt-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'old_standard_ttregular';
    src: url('../assets/fonts/old-standard/oldstandardtt-regular-webfont.woff2') format('woff2'),
        url('../assets/fonts/old-standard/oldstandardtt-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// roboto

@font-face {
    font-family: 'robotobold';
    src: url('../assets/fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
        url('../assets/fonts/roboto/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'robotolight';
    src: url('../assets/fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
        url('../assets/fonts/roboto/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('../assets/fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
        url('../assets/fonts/roboto/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../assets/fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
        url('../assets/fonts/roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin';
    src: url('../assets/fonts/roboto/roboto-thin-webfont.woff2') format('woff2'),
        url('../assets/fonts/roboto/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoblack';
    src: url('../assets/fonts/roboto/roboto-black-webfont.woff2') format('woff2'),
        url('../assets/fonts/roboto/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}