@import "./fonts.scss";

$font-family-robot-regular:'robotoregular';
$font-family-robot-medium:'robotomedium';
$font-family-robot-bold:'robotobold';
$font-family-robot-light:'robotolight';
$font-family-robot-semibold:'robotoblack';

$font-family-old-standard-italic: 'old_standard_ttitalic';
$font-family-old-standard-regular: 'old_standard_ttregular';
$font-family-old-standard-bold: 'old_standard_ttbold';

$light-primary-color: #E8B4B8;
$light-secondary-color: #EED6D3;
$dark-primary-color: #A49393;
$dark-secondary-color: #67595E;

$secondary-color: #6c757d;
$secondary-dark-color: #495057;
$secondary-light-color: #adb5bd;

$accent-color: #28a745;
$accent-dark-color: #218838;
$accent-light-color: #34d058;

$white-color:#ffffff;
$black-color:#122620; //charcoal black